
<html>

    <head>
        <title>Cibil Score Verification App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <style type="text/css">
          .margin-left {
              margin: 112px 10px;
          }
          .btn-primary {
              color: #fff;
              background-color: #444c69;
              border-color: #1d2235;
          }
        </style>
    </head>
    <body style="background-image:url(https://images.news18.com/ibnlive/uploads/2017/12/cibil-credit-score.jpg?impolicy=website&width=534&height=356?auto=compress&cs=tinysrgb&dpr=1&w=500); min-height: 130%;background-position: center;background-repeat: no-repeat;background-size: cover;position: relative; ">
      <h1 align="center" style="color: #e2e0e5;margin: 112px 10px;"> Please Login/Register to Access the Cibil Score Verification Page</h1>

       <div align="center" class="margin-left">
       <center>
    <body bgcolor = "#cd5c5c">
       </ul>
               <span><a href="{% url 'registration' %}" class="button btn btn-primary" type="button">Registration</a></span> <br><br>
        <span><a href="{% url 'login' %}" class="button btn btn-primary" type="button">Login</a> </span></br><br>
    </body>
       </center>
       </div>
</html>