
<html>

    <head>
        <title>cibil App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <style type="text/css">
          .margin-left {
              margin: 112px 10px;
          }
          .btn-primary {
              color: #fff;
              background-color: #444c69;
              border-color: #1d2235;
          }
        </style>
    </head>


    <body style="background-image:url(https://d28wu8o6itv89t.cloudfront.net/images/GoodCIBILScorejpg-1571816120174.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500); min-height: 130%;background-position: center;background-repeat: no-repeat;background-size: cover;position: relative; "></body>
    <b><u><h1 align="center" style="color: black;margin: 112px 10px;">Registration Page</h1></u></b>

       <div align="center" class="margin-left">
       <center>
<head>
  <title>Registration Page</title>
</head>
           <body>
   <form method="POST" action=".">
       {% csrf_token %}
        {{ form.as_p }}
   <button type="submit" value="submit"> Submit </button>
   </form>
           </body>
       </center>
       </div>
</html>